@import 'variables';

.sidenav-container {
  height: 100vh;
  position: relative;
  width: 257px;

  .sidenav-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .sidenav-brand {
    @include headline-6;
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 0 16px;

    img {
      cursor: pointer;
      width: 92px;
    }
  }

  .sidenav-label {
    @include body-1;
    @include truncate-ellipsis;
    align-items: center;
    cursor: pointer;
    display: inline;
    margin-left: 24px;
  }

  .catalog-row {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: flex;
    height: 64px;
    margin-bottom: 16px;
    padding: 0 16px 15px 16px;
  }


  .app-version {
    @include overline;
    bottom: 16px;
    color: $primary;
    position: absolute;
    width: 100%;
  }
}
