// BOGLE
@font-face {
  font-family: BogleRegular;
  src: url('/assets/fonts/Bogle-Regular.otf') format('opentype');
}

@font-face {
  font-family: BogleBlack;
  src: url('/assets/fonts/Bogle-Black.otf') format('opentype');
}

@font-face {
  font-family: BogleBold;
  src: url('/assets/fonts/Bogle-Bold.otf') format('opentype');
}

@font-face {
  font-family: BogleRegularItalic;
  src: url('/assets/fonts/Bogle-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: BogleBlackItalic;
  src: url('/assets/fonts/Bogle-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: BogleBoldItalic;
  src: url('/assets/fonts/Bogle-BoldItalic.otf') format('opentype');
}
