// Note that not all hues are defined for all colors to make them more accessible. However, because
// Angular Material requires that the lighter and darker hues be present, anything lighter than the minimum
// hue defined uses the minimum and anything darker than the maximum hue defined uses the maximum.

$black-87-opacity: rgba(0, 0, 0, 87);
$white-87-opacity: rgba(255, 255, 255, 87);

$white: (
  50: #fff,
  100: #fff,
  200: #fff,
  300: #fff,
  400: #fff,
  500: #fff,
  600: #fff,
  700: #fff,
  800: #fff,
  900: #fff,
  A100: #fff,
  A200: #fff,
  A400: #fff,
  A700: #fff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$black: (
  50: #000,
  100: #000,
  200: #000,
  300: #000,
  400: #000,
  500: #000,
  600: #000,
  700: #000,
  800: #000,
  900: #000,
  A100: #000,
  A200: #000,
  A400: #000,
  A700: #000,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);

$gray: (
  50: #fafafa,
  100: #fafafa,
  200: #fafafa,
  300: #fafafa,
  400: #fafafa,
  500: #bdbdbd,
  600: #757575,
  700: #424242,
  800: #424242,
  900: #424242,
  A100: #fafafa,
  A200: #fafafa,
  A400: #fafafa,
  A700: #424242,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$walmart-medium-blue: (
  50: #8cd0fe,
  100: #8cd0fe,
  200: #8cd0fe,
  300: #8cd0fe,
  400: #8cd0fe,
  500: #017acd,
  600: #0168af,
  700: #015690,
  800: #015690,
  900: #015690,
  A100: #8cd0fe,
  A200: #8cd0fe,
  A400: #8cd0fe,
  A700: #015690,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$walmart-dark-blue: (
  50: #006cce,
  100: #006cce,
  200: #006cce,
  300: #006cce,
  400: #006cce,
  500: #004c91,
  600: #003c72,
  700: #002c54,
  800: #002c54,
  900: #002c54,
  A100: #002c54,
  A200: #002c54,
  A400: #002c54,
  A700: #002c54,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);

$walmart-light-blue: (
  50: #acd4f0,
  100: #acd4f0,
  200: #acd4f0,
  300: #acd4f0,
  400: #acd4f0,
  500: #78b9e7,
  600: #449ede,
  700: #2380c2,
  800: #2380c2,
  900: #2380c2,
  A100: #acd4f0,
  A200: #acd4f0,
  A400: #acd4f0,
  A700: #2380c2,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$walmart-orange: (
  50: #f7985b,
  100: #f7985b,
  200: #f7985b,
  300: #f7985b,
  400: #f7985b,
  500: #f47321,
  600: #eb620c,
  700: #ce4c11,
  800: #ce4c11,
  900: #ce4c11,
  A100: #f7985b,
  A200: #f7985b,
  A400: #f7985b,
  A700: #ce4c11,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$walmart-yellow: (
  50: #ffe499,
  100: #ffd35d,
  200: #ffd35d,
  300: #ffd35d,
  400: #ffd35d,
  500: #ffc220,
  600: #e2a400,
  700: #c38e00,
  800: #c38e00,
  900: #c38e00,
  A100: #ffd35d,
  A200: #ffd35d,
  A400: #ffd35d,
  A700: #c38e00,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$walmart-dark-green: (
  50: #4aa93b,
  100: #4aa93b,
  200: #4aa93b,
  300: #4aa93b,
  400: #4aa93b,
  500: #367c2b,
  600: #2c6523,
  700: #224f1b,
  800: #224f1b,
  900: #224f1b,
  A100: #4aa93b,
  A200: #4aa93b,
  A400: #4aa93b,
  A700: #224f1b,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$walmart-fresh-green: (
  50: #97cf71,
  100: #97cf71,
  200: #97cf71,
  300: #97cf71,
  400: #97cf71,
  500: #76c043,
  600: #5a9432,
  700: #4c7d2a,
  800: #4c7d2a,
  900: #4c7d2a,
  A100: #97cf71,
  A200: #97cf71,
  A400: #97cf71,
  A700: #4c7d2a,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$walmart-red: (
  50: #f6a9a2,
  100: #ee594b,
  200: #ee594b,
  300: #ee594b,
  400: #ee594b,
  500: #e62716,
  600: #ca2213,
  700: #ae1e11,
  800: #ae1e11,
  900: #ae1e11,
  A100: #ee594b,
  A200: #ee594b,
  A400: #ee594b,
  A700: #ae1e11,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$sams-dark-blue: (
  50: #b2bfd6,
  100: #b2bfd6,
  200: #7f95bb,
  300: #4c6b9f,
  400: #194184,
  500: #002c77,
  600: #00276b,
  700: #001e53,
  800: #001a47,
  900: #001a47,
  A100: #b2bfd6,
  A200: #7f95bb,
  A400: #194184,
  A700: #001e53,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: #fff,
    A700: #fff,
  )
);

$walmart-international-dark-navy: (
  50: #e1e4e6,
  100: #b5bcc0,
  200: #848f96,
  300: #52626b,
  400: #2d414c,
  500: #081f2c,
  600: #071b27,
  700: #061721,
  800: #04121b,
  900: #020a10,
  A100: #529cff,
  A200: #1f7fff,
  A400: #0065eb,
  A700: #005ad2,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: #fff,
    A700: #fff,
  )
);

$sams-medium-blue: (
  50: #b2cbe2,
  100: #b2cbe2,
  200: #7fa9cf,
  300: #4c87bb,
  400: #1965a8,
  500: #00549f,
  600: #004b8f,
  700: #002c77,
  800: #00325f,
  900: #00325f,
  A100: #b2cbe2,
  A200: #7fa9cf,
  A400: #1965a8,
  A700: #002c77,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: #fff,
    A700: #fff,
  )
);

$sams-bright-blue: (
  50: #b2d7ee,
  100: #b2d7ee,
  200: #7fbce4,
  300: #4ca1d9,
  400: #1987ce,
  500: #007ac9,
  600: #006db4,
  700: #00558c,
  800: #004978,
  900: #004978,
  A100: #b2d7ee,
  A200: #7fbce4,
  A400: #1987ce,
  A700: #00558c,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff ,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$sams-green: (
  50: #cdddbc,
  100: #cdddbc,
  200: #adc790,
  300: #8cb064,
  400: #6b9a38,
  500: #5b8f22,
  600: #51801e,
  700: #3f6417,
  800: #365514,
  900: #365514,
  A100: #cdddbc,
  A200: #adc790,
  A400: #6b9a38,
  A700: #3f6417,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$sams-yellow: (
  50: #fbe7b2,
  100: #fbe7b2,
  200: #f8d77f,
  300: #f5c74c,
  400: #f3b719,
  500: #f2af00,
  600: #d99d00,
  700: #a97a00,
  800: #916900,
  900: #916900,
  A100: #fbe7b2,
  A200: #f8d77f,
  A400: #f3b719,
  A700: #a97a00,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$sams-orange: (
  50: #f8d4bd,
  100: #f8d4bd,
  200: #f4b891,
  300: #f09c65,
  400: #ec8039,
  500: #ea7224,
  600: #d26620,
  700: #a34f19,
  800: #8c4415,
  900: #8c4415,
  A100: #f8d4bd,
  A200: #f4b891,
  A400: #ec8039,
  A700: #a34f19,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$sams-red: (
  50: #edbbbd,
  100: #edbbbd,
  200: #e28e91,
  300: #d66065,
  400: #ca3339,
  500: #c51d24,
  600: #b11a20,
  700: #891419,
  800: #761115,
  900: #761115,
  A100: #edbbbd,
  A200: #e28e91,
  A400: #ca3339,
  A700: #891419,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: #fff,
    A700: #fff,
  )
);

$asda-green: (
  50: #d6ebbc,
  100: #d6ebbc,
  200: #bbde8f,
  300: #a0d162,
  400: #85c436,
  500: #78be20,
  600: #6cab1c,
  700: #548516,
  800: #487213,
  900: #487213,
  A100: #d6ebbc,
  A200: #bbde8f,
  A400: #85c436,
  A700: #548516,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$asda-blue: (
  50: #b2cee9,
  100: #b2cee9,
  200: #7faedb,
  300: #4c8ecd,
  400: #196ebf,
  500: #005eb8,
  600: #0054a5,
  700: #004180,
  800: #00386e,
  900: #00386e,
  A100: #b2cee9,
  A200: #7faedb,
  A400: #196ebf,
  A700: #004180,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: #fff,
    A700: #fff,
  )
);

$asda-red: (
  50: #f3beba,
  100: #f3beba,
  200: #ec948d,
  300: #e56960,
  400: #dd3e32,
  500: #da291c,
  600: #c42419,
  700: #981c13,
  800: #821810,
  900: #821810,
  A100: #f3beba,
  A200: #ec948d,
  A400: #dd3e32,
  A700: #981c13,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #fff,
  )
);

$asda-dark-yellow: (
  50: #fff0b2,
  100: #fff0b2,
  200: #ffe67f,
  300: #ffdc4c,
  400: #ffd219,
  500: #ffcd00,
  600: #e5b800,
  700: #b28f00,
  800: #997b00,
  900: #997b00,
  A100: #fff0b2,
  A200: #ffe67f,
  A400: #ffd219,
  A700: #b28f00,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$asda-light-yellow: (
  50: #fef9cc,
  100: #fef9cc,
  200: #fdf399,
  300: #fbea4c,
  400: #fae419,
  500: #fae100,
  600: #e1ca00,
  700: #af9d00,
  800: #968700,
  900: #968700,
  A100: #fef9cc,
  A200: #fdf399,
  A400: #fae419,
  A700: #af9d00,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);
