.nav-container{
    width: 100%;
    height: 100%;
    mat-sidenav{
        width: 260px;    

    }

    .header-left-icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        margin-right: 16px;
      }
}